<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <title>Portfolio</title>
</head>

<body>
   <div class="frame">
    <div class="main_frame">
     <div class="left_frame">

      <div class="left_1">
        <div class="left_1-1">
            <img style="height: 166px; width: 156px; border-radius: 50%;" src="images/my_photo.jpg" alt="bu yerda mening rasmim bor.">
        </div>
        <div class="left_1-2"><%=user.name%></div>
        <div class="left_1-3"><%=user.profession%></div>
        <div class="left_icons">

            <a class="link_hrf" href="">
                <div class="icon">
                    <img src="icon/Facebook.svg" class="icon-1" alt="">
                </div>
            </a>

            <a class="link_hrf" href=""></a>
                <div class="icon">
                    <img src="icon/Instagram.svg" class="icon-1" alt="">
                </div>
            </a>

            <a class="link_hrf" href=""></a>
                <div class="icon">
                    <img src="icon/Twitter.svg" class="icon-1" alt="">
                </div>
            </a>

            <a class="link_hrf" href=""></a>
                <div class="icon">
                    <img src="icon/Linkeding.svg" class="icon-1" alt="">
                </div>
            </a>

            <a class="link_hrf" href=""></a>
                <div class="icon">
                    <img src="icon/Youtube.svg" class="icon-1" alt="">
                </div>
            </a>

            <a class="link_hrf" href=""></a>
                <div class="icon">
                    <img src="icon/Dribbble.svg" class="icon-1" alt="">
                </div>
            </a>
        </div>
      </div> 
      <div class="marginer"></div> 
      <div class="left_2">
        <div class="container">
    
        <div class="first">
        <div class="age">Age:</div>
        <div class="free">23</div>
        </div> 

        <div class="first">
            <div class="age">Residence:</div>
            <div class="free">UZB</div>
            </div> 

        <div class="first">
                <div class="age">Freelance:</div>
                <div class="avail">Available</div>
                </div> 

        <div class="first">
                    <div class="span_1" ><span></span></div>
                    <div class="sam">Samarkand, UZB</div>
                    </div> 
    </div>
      </div> 
      <div class="marginer"></div> 
      <div class="left_3">
        <div class="container">
            <h2>Languages</h2>

            <div class="language">
                <div class="til">
                   <div><span>Uzbek</span></div>
                   <div><span>100%</span></div>
                </div>
                
               
                <div class="progress-bar">
                    <div style="width: 100%" class="progress"></div>
                </div>
            </div>

            <div class="language">
                <div class="til">
                    <div><span>Korean</span></div>
                    <div><span>90%</span></div>
                 </div>
                <div class="progress-bar">
                    <div style="width: 90%" class="progress"></div>
                </div>
            </div>

            <div class="language">
                <div class="til">
                    <div><span>English</span></div>
                    <div><span>50%</span></div>
                 </div>
                <div class="progress-bar">
                    <div style="width: 50%" class="progress"></div>
                </div>
            </div>
        </div>
      </div> 
      <div class="marginer"></div> 
      
      <div class="left_4">
        <div class="skill_container">
            <h2>Skills</h2>

            <div class="skill_language">
                <div class="skill_til">
                   <div><span>HTML</span></div>
                   <div><span>90%</span></div>
                </div>
                
               
                <div class="skill_progress-bar">
                    <div style="width: 90%" class="skill_progress"></div>
                </div>
            </div>

            <div class="skill_language">
                <div class="skill_til">
                    <div><span>CSS</span></div>
                    <div><span>85%</span></div>
                 </div>
                <div class="skill_progress-bar">
                    <div style="width: 85%" class="skill_progress"></div>
                </div>
            </div>

            <div class="skill_language">
                <div class="skill_til">
                    <div><span>JS</span></div>
                    <div><span>80%</span></div>
                 </div>
                <div class="skill_progress-bar">
                    <div style="width: 80%" class="skill_progress"></div>
                </div>
            </div>

            <div class="skill_language">
                <div class="skill_til">
                    <div><span>Node Js</span></div>
                    <div><span>75%</span></div>
                 </div>
                <div class="skill_progress-bar">
                    <div style="width: 75%" class="skill_progress"></div>
                </div>
            </div>

            <div class="skill_language">
                <div class="skill_til">
                    <div><span>Python</span></div>
                    <div><span>70%</span></div>
                 </div>
                <div class="skill_progress-bar">
                    <div style="width: 70%" class="skill_progress"></div>
                </div>
            </div>

        </div>
        </div>
     
      <div class="marginer"></div> 
      <div class="left_5">
        <div class="extra">
            <h2>Extra Skills</h2>
            <div class="one"><i class="fas fa-link"></i> Bootstrap</div>
            <div class="one"><i class="fas fa-link"></i> Stylus, Sass, </div>
            <div class="one"><i class="fas fa-link"></i> Webpack</div>
            <div class="one"><i class="fas fa-link"></i> GIT Knowledge</div>
        </div>
      </div> 
      <div class="marginer"></div> 
      <button class="download_btn">DOWNLOAD CV    <i class="fa-solid fa-download"></i></button>
     
      
      

     </div>
     <div class="midd_frame">
        <div class="obshiy">
            <div class="box">
                <h1>I'm Dylan </h1>
                <h1><span>Software</span> Engineer</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <button class="middle_btn">HIRE ME   <i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
            <div class="minibox">
                <img style="width:325px  ; height: 447px;" src="images/my_photo.jpg" alt="">
            </div>
        </div>
         
        <div class="grid_con">
           <div class="info">
                <div class="bosh"><h1>My Services</h1></div>
                <div><p>lorem ipsum is the best famous writer</p></div>
                <div><p>in the world because a lot of people use this sentence</p></div>
                <div><p>so i can tell that if it is no exist there would be big problem</p></div>
            </div>
            
            <div class="service">
                <div class="box a">
                    <img src="box_images/coding.png" alt="">
                    <h2>Web Development</h2>
                    <h3>Blog, E-Commerce</h3>
                </div>
                <div class="box b">
                    <img src="box_images/illustration.png" alt="">
                   <h2> UI/UX Design</h2>
                   <h3>Mobile app, Website Design</h3>
                </div>
                <div class="box c">
                    <img src="box_images/Microphone.png" alt="">
                    <h2>Sound Design</h2>
                    <h3>Voice Over, Beat Making</h3>
                </div>
                <div class="box d">
                    <img src="box_images/game-development.png" alt="">
                    <h2>Game Design</h2>
                    <h3>Character Design, Props & Objects</h3>
                </div>
                <div class="box e">
                    <img src="box_images/Photographer.png" alt="">
                    <h2>Photography</h2>
                    <h3>Portrait, Product Photography</h3>
                </div>
                <div class="box f">
                    <h2>Advertising</h2>
                    <h3> ipsum is the best famous writer</h3>
                    <a href="">ORDER NOW > </a>
                </div>
            </div>
        
            
            

            
        </div>
        </div>
        <div class="right_frame">
            <div class="icn_1"><img style="padding-bottom: 50px;" src="btn-icon/Contrast.png" alt=""></div>
             <div class="icn"><img src="btn-icon/Home.png" alt=""></div> 
            <div class="icn"><img style="padding: 10px; border: 1px solid black; border-radius: 50%;" src="btn-icon/Services.png" alt=""></div>
             <div class="icn"> <img style="padding: 10px; border: 1px solid black; border-radius: 50%;" src="btn-icon/cv.png" alt=""></div>
             <div class="icn"> <img src="btn-icon/Portfolio.png" alt=""></div>
             <div class="icn"> <img src="btn-icon/Blog.png" alt=""></div>
             <div class="icn_2"> <img src="btn-icon/Contact.png" alt=""></div>
              <div class="icn"><img src="btn-icon/order_now.png" alt=""></div>
           
        </div>
     </div>
     
    
    </div>
   </body>


</html>